@model AbweAddressBook.Models.Contact?

@{
    string title = "Contact's" + ViewBag.Action;
    ViewBag.Title = title;
}
<h2>@ViewBag.Title</h2>
<form asp-action="Details" method="get">
    <input type="hidden" asp-for="ContactId"/>
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" disabled/>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" disabled/>
    </div>
    <div class="mb-3">
        <label asp-for="NickName" class="form-label"></label>
        <input asp-for="NickName" class="form-control" disabled/>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" disabled/>
    </div>
    <div class="mb-3">
        <label asp-for="DateCreated" class="form-label"></label>
        <input asp-for="DateCreated" class="form-control" disabled/>
    </div>
    <a asp-controller="Contact" asp-action="Edit" class="btn btn-primary">Edit</a>
    <a asp-controller="Contact" asp-action="Delete" class="btn btn-danger">Delete</a>
    <a asp-controller="Contact" asp-action="Index" class="btn btn-secondary">Back</a>
</form>