@model AbweAddressBook.Models.Contact?

@{
    ViewBag.Title = "Delete Contact";
}
<h2>@ViewBag.Title</h2>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ContactId"/>
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">First Name</label>
        <input asp-for="FirstName" class="form-control" disabled/>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label">Last Name</label>
        <input asp-for="LastName" class="form-control" disabled/>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" disabled />
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
